.git
.git/*
.github
.github/*
.gemini
.gemini/*
inteligencia site
inteligencia site/*
node_modules
assets-backup
assets-backup/*
*.log
*.bak
00-AA-Marina
00-AA-Marina/*
00-6_porto_belo
00-6_porto_belo/*
$RECYCLE.BIN
$RECYCLE.BIN/*
*.psd
*.mobi
